img {
    max-width: 100%;
    border-radius: 30px;
}

body {
    background-color: hsl(30, 54%, 90%);
}

.main{
    max-width: 600px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
}

.Preapartion-time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 30px;
    padding: 15px;
    overflow: hidden;
    h3{
        color: hsl(332, 51%, 32%);
    }
}
h1,h2 {
    font-family: youngserif;
    color: hsl(14, 45%, 36%);
    letter-spacing: 0.05rem;
}

p,li {
    line-height: 1.6;
    font-size: 16px;
    
    font-weight: 400px;
    color: hsl(30, 10%, 34%);
}

li {
    margin-top: 0.5rem;
}

.calories{
   list-style-type: none;
}

.instructions{
    color: red;
}